<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<p class="lead text-center">Welcome to my website, I will be demonstrating HTML5 principlesand techniques,
			Routing in Express</p>
		<h2>Personal Info</h2>
		<p>
			Mingyuan Xie. 117518225. Database Aplication Developer
		</p>

		<!-- End your code here  -->

	</main>
</div>